# Ignore generated config
/config.h

/dwm
/dwm.o
/drw.o
/util.o

# Ignore YouCompleteMe config and clang completion database
/.ycm_extra_conf.py
/.ycm_extra_conf.pyc
/compile_commands.json
/tags

# Ignore Vim caches
.*.swp
